@media(min-width: 900px){

body {
    background-image: url("../imagens/cadastro_fundo.jpg");
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #ffffff;
    width: 100%;
    height: 11%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    
}

header .logo {
    font-size: 25px;
    text-transform: uppercase;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    color: #000000;
    display: block;
    margin: 0 4px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}
nav ul li a:hover {
    background: #000000;
    color: #fff;
}

nav ul li a.ativo {
    background: #070707;
    color: #fff;
}


header a {
    text-decoration: none;
    color: #032030;
}

.containerheader {
    margin: 0 auto;
    display: flex;
    background-position: center;
    width: 100%;
    height: 100px
}

.boxcentralcadastro {
    background-color: rgba(0, 0, 0, 0.226);
    border: 2px solid rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
    width: 400px;
    color: white;
    text-align: center;
    border-radius: 13px;
    padding: 30px 40px;
}

.boxcentralcadastro .boxinputscadastro {
    position: relative;
    width: 100%;
    margin: 23px 0;
}

.boxinputscadastro input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.288);
    font-size: 19px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.boxinputscadastro select {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    border-radius: 30px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.288);
    font-size: 19px;
    padding: 20px 45px 20px 20px;
}

.boxinputscadastro option {
    color: black;
}





.boxinputscadastro input::placeholder {
    color: white;
}

.boxinputscadastro i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.boxcentralcadastro .botaocadastro {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: white;
    outline: none;
    cursor: pointer;
    font-size: 20px;    
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

/* Login */

/* Login */

.boxcentralLogin {
    background-color: rgba(0, 0, 0, 0.226);
    border: 2px solid rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
    width: 400px;
    color: white;
    text-align: center;
    border-radius: 13px;
    padding: 30px 40px;
}

.boxcentralLogin .boxinputsLogin {
    position: relative;
    width: 100%;
    margin: 23px 0;
}

.boxinputsLogin input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.288);
    font-size: 19px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.boxinputsLogin select {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    border-radius: 30px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.288);
    font-size: 19px;
    padding: 20px 45px 20px 20px;
}

.boxinputsLogin option {
    color: black;
}





.boxinputsLogin input::placeholder {
    color: white;
}

.boxinputsLogin i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.boxcentralLogin .botaoLogin {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: white;
    outline: none;
    cursor: pointer;
    font-size: 20px;    
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
}

@media(max-width: 900px){

    body {
        background-image: url("../imagens/cadastro_fundo.jpg");
        /* display: flex;
        background-size: cover;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-direction: column; */
        width: 100%;
        height: 100%;
        background-color: black;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* HEADER */

    header {
        background: #ffffff;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 1;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    header .logo {
        font-size: 10px;
        text-transform: uppercase;
    }

    nav{
        padding-right: 10px;
    }

    nav .logo {
        display: none;
    }

    nav ul {
        display: flex;
        font-size: 12px;
        list-style: none;
    }

    nav ul li a {
        color: #000000;
        display: block;
        font-weight: 600;
        padding: 8px;
        transition: 0.2s;
        border-radius: 30px;
        text-decoration: none;
    }
    nav ul li a:hover {
        background: #000000;
        color: #fff;
    }

    .ativo{
        margin-left: 10px;
    }

    #barra_nav{
        display: none;
    }

    nav ul li a.ativo {
        background: #070707;
        color: #fff;
    }

    #botao_cadastro{
        display: none;
    }


    .header a {
        text-decoration: none;
        color: #032030;
    }

    .imagem_logo{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    }

    .imagem_container {
        width: 70%;
        margin-right: 200px;
        height: auto;
    }


    /*FIM DA HEADER*/
    /* CADASTRO */

    .formulario{
        margin-top: 50px
    }
    
    .boxcentralcadastro {
        background-color: rgba(0, 0, 0, 0.226);
        border: 2px solid rgba(255, 255, 255, 0.288);
        backdrop-filter: blur(4px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
        /* width: 400px; */
        color: white;
        text-align: center;
        border-radius: 13px;
        padding: 30px 40px;
        /* margin-top: 50px; */
    }
    
    .boxcentralcadastro .boxinputscadastro {
        position: relative;
        width: 100%;
        margin: 23px 0;
    }
    
    .boxinputscadastro input {
        width: 100%;
        /* height: 3em; */
        background-color: transparent;
        border: none;
        border-radius: 30px;
        outline: none;
        border: 2px solid rgba(255, 255, 255, 0.288);
        font-size: 19px;
        color: white;
        padding: 10px 35px 10px 15px;
    }
    
    .boxinputscadastro select {
        width: 100%;
        height: 3em;
        background-color: white;
        border: none;
        border-radius: 30px;
        outline: none;
        border: 2px solid rgba(255, 255, 255, 0.288);
        font-size: 19px;
        padding: 15px 45px 15px 20px;
    }
    
    .boxinputscadastro option {
        color: black;
    }
    
    .boxinputscadastro input::placeholder {
        color: white;
    }
    
    .boxinputscadastro i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }
    
    .boxcentralcadastro .botaocadastro {
        width: 80%;
        height: 40px;
        border: none;
        border-radius: 10px;
        background-color: white;
        outline: none;
        cursor: pointer;
        font-size: 20px;    
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    }

    /* LOGIN */

    html{
        height: 100%;
    }

    .formulario{
        margin-top: 50px
    }
    .formulario a{
        color: white;
    }
    
    .boxcentrallogin {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.226);
        border: 2px solid rgba(255, 255, 255, 0.288);
        backdrop-filter: blur(4px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
        align-content: center;
        /* width: 400px; */
        color: white;
        text-align: center;
        border-radius: 13px;
        padding: 30px 40px;
        /* margin-top: 50px; */
    }
    
    .boxcentrallogin .boxinputslogin {
        position: relative;
        width: 100%;
        margin: 23px 0;
    }
    
    .boxinputslogin input {
        width: 100%;
        /* height: 3em; */
        background-color: transparent;
        border: none;
        border-radius: 30px;
        outline: none;
        border: 2px solid rgba(255, 255, 255, 0.288);
        font-size: 19px;
        color: white;
        padding: 10px 35px 10px 15px;
    }
    
    .boxinputslogin select {
        width: 100%;
        height: 3em;
        background-color: white;
        border: none;
        border-radius: 30px;
        outline: none;
        border: 2px solid rgba(255, 255, 255, 0.288);
        font-size: 19px;
        padding: 15px 45px 15px 20px;
    }
    
    .boxinputslogin option {
        color: black;
    }
    
    .boxinputslogin input::placeholder {
        color: white;
    }
    
    .boxinputslogin i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }
    
    .boxcentrallogin .botaologin {
        margin-bottom: 10px;
        width: 80%;
        height: 40px;
        border: none;
        border-radius: 10px;
        background-color: white;
        outline: none;
        cursor: pointer;
        font-size: 20px;    
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    }

    
    }
    
